*{
    margin: 0px;
    padding: 0px;
}

body{

    background-image: url("../IMAGENS/fundoazul.jpg"); 
    background-position: 50% 70%;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
}

div#corpo-form{
   /* background-color: #E0FFFF	; */
    width: 480px;
    margin: 100px auto 0px auto;


}

div#corpo-form h1{
    text-align: center;
    padding: 20px;

}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}